<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <title>Text Utils</title>
    <style>
        .footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #457b9d;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TextUtils.ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linktr.ee/muhammadanas0716">Connect with ME</a>
                </li>

            </ul>
        </div>
    </nav>


    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome to TextUtils!</strong> You can do anything with your text here! <br> By Muhammad Anas
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>


    <div class="container" style="padding-top: 50px;">

        <form action='/analyse/' method='POST'> {% csrf_token %}

            <div class="form-group">
                <label for="exampleFormControlTextarea1">
                    <h3>Insert the Text</h3>
                </label>
                <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="9"></textarea>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Upper Case</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" name="smallcaps" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">Lower Case</label>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">New Line Remover</label>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" name="extraspacemover" class="custom-control-input" id="customSwitch5">
                <label class="custom-control-label" for="customSwitch5">Extra Spaces Remover</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" name="removenumbers" class="custom-control-input" id="customSwitch6">
                <label class="custom-control-label" for="customSwitch6">Remove Numbers</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" name="charactercounter" class="custom-control-input" id="customSwitch7">
                <label class="custom-control-label" for="customSwitch7">Count the Characters (Excluding Spaces)</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" name="countspaces" class="custom-control-input" id="customSwitch8">
                <label class="custom-control-label" for="customSwitch8">Count Spaces</label>
            </div>

            <button type="submit" class="btn btn-dark mt-2">Analyze Text</button> <br><br>
        </form>
    </div>

    <!-- Footer-->
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.linkedin.com/in/muhammad-anas-63744b235/"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/muhammadanas365"><i class="icon ion-social-github"></i></a>
                <a href="https://twitter.com/Muhamma63227121"><i class="icon ion-social-twitter"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/contact">Contact</a></li>
            </ul>
            <p class="copyright">TextUtils.ai © 2022</p>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>